HOST_SERVER="127.0.0.1"
PORT_SERVER="3003"
MONGODB_URI="mongodb://localhost:27017/your-database-name"
# MONGODB_URI="mongodb://agentes-mongo:27017/your-database-name" #docker
# MONGODB_URI="mongodb://localhost:27018/your-database-name" #docker2
OPENAI_API_KEY="your-openai-api-key"
BASIC_AUTH_USER=admin@1
BASIC_AUTH_PASSWORD=admin@!224
```