@tailwind base;
@tailwind components;
@tailwind utilities;


/* Clase bottón */
.buttonprimary {
   @apply
   bg-primary 
   hover:bg-primary-400
    focus:border-primary-200
    focus:ring-1
    focus:ring-offset-0
    focus:ring-primary-200
   font-medium
   rounded-md
   text-white
   w-full
   sm:w-auto
   px-4
   py-2.5
   text-center
   whitespace-nowrap

}
.buttonsecondary{
    @apply
    bg-none
    border
    border-text
    hover:bg-primary-0
    focus:border-primary-200
    focus:ring-1
    focus:ring-offset-0
    focus:ring-primary-200
    font-medium
    rounded-md
    text-text
    w-full
    sm:w-auto
    px-4
    py-2.5
    text-center
    whitespace-nowrap
}
.buttontertiary{
    @apply
    bg-none
    border-2
    border-tertiary
    hover:bg-primary-0
    focus:border-primary
    focus:ring-1
    focus:ring-offset-0
    focus:ring-primary
    font-medium
    rounded-md
    text-tertiary
    w-max

    px-4
    py-2.5
    text-center
    whitespace-nowrap
}

/* Clase label */

.label{
    @apply 
    block 
    mb-2 
    text-sm
    text-text
    font-medium
}
.input{
    @apply
    bg-primary-0
    border
    border-primary
    text-sm
    text-text
    rounded-lg 
    outline-none
    focus:border-primary-200
    focus:ring-1
    focus:ring-offset-0
    focus:ring-primary-200
    block 
    w-full 
    p-2.5

}

.loading{
    @apply
    bg-chatbot
    text-text 
    self-start 
    rounded-lg  
    px-3 
    py-2 
    max-w-sm
}
.code{
    @apply
    bg-primary-50
    text-black
    self-start 
    px-2
    py-1 
    max-w-sm
}
.pre{
    @apply
    bg-primary-50
    text-text
    self-start 
    p-12
    mt-3
    mb-3
    overflow-x-auto
    rounded-lg
}
.copybutton{
    @apply
    bg-none
    hover:bg-primary-0
    border-none
    py-2
    px-3
    rounded-full
    absolute 
    top-2 
    -right-12
}