@tailwind base;
@tailwind components;
@tailwind utilities;


/* Clase bottón */
.buttonprimary {
   @apply
   bg-primary-400 
   hover:bg-primary-500
   focus:ring-4
   focus:outline-none
   focus:ring-primary-100
   font-medium
   rounded-md
   text-white
   w-full
   sm:w-auto
   px-4
   py-2.5
   text-center
   whitespace-nowrap
}
.buttonsecondary{
    @apply
    bg-none
    border
    border-text
    hover:bg-primary-0
    focus:ring-4
    focus:outline-none
    focus:ring-primary-100
    font-medium
    rounded-md
    text-text
    w-full
    sm:w-auto
    px-4
    py-2.5
    text-center
    whitespace-nowrap
}

/* Clase label */

.label{
    @apply 
    block 
    mb-2 
    text-sm
    text-text
    font-medium
}
.input{
    @apply
    bg-primary-0
    border
    border-primary-400
    text-sm
    text-text
    rounded-lg 
    outline-none
    focus:border-primary
    focus:ring-1
    focus:ring-offset-0
    focus:ring-primary
    block 
    w-full 
    p-2.5

}

.loading{
    @apply
    bg-chatbot
    text-text 
    self-start 
    rounded-lg  
    px-3 
    py-2 
    max-w-sm
}