@tailwind base;
@tailwind components;
@tailwind utilities;


/* Clase bottón */
.buttonprimary {
   @apply
   bg-primary-400 
   hover:bg-primary-500
   focus:ring-4
   focus:outline-none
   focus:ring-primary-100
   font-medium
   rounded-md
   text-white
   w-full
   sm:w-auto
   px-4
   py-2.5
   text-center
   whitespace-nowrap
}


/* Clase label */

.label{
    @apply 
    block 
    mb-2 
    text-sm
    text-text
    font-medium
}
.input{
    @apply
    bg-primary-0
    border
    border-primary-200
    text-sm
    text-text
    rounded-lg 
    focus:ring-primary-100 
    focus:border-primary-500 
    block 
    w-full 
    p-2.5

}
