@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases variables modo dark y light */
:root{

    --bg-color: theme(.colors.background);
    --header-color: theme(.colors.primary.DEFAULT);
    --text-color: theme(.colors.black);
    --primary-color: #2BC5AE;
    --chat-bot: theme(.colors.primary.100);
    --text-inverse-color: theme(.colors.white);
    --modal-color: theme(.colors.primary.100);

}
.darkmode {
    --bg-color: theme(.colors.backgrounddark);
    --header-color: theme(.colors.black);
    --text-color: theme(.colors.white);
    --primary-color: #3CD4BE;
    --chat-bot: theme(.colors.primary.0);
    --text-inverse-color: theme(.colors.black);
    --modal-color: theme(.colors.black);
}






.scroll{
    scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
    width: 0;
}
.bounce {
    animation: dot-pulse 0.9s ease both infinite;
}
@keyframes dot-pulse {
    0% { transform: scale(0); }
    50% { transform: scale(1); }
    100% { transform: scale(0); }
}
  
.bounce1 { animation-delay: 0; }
.bounce2 { animation-delay: .3s; }
.bounce3 { animation-delay: .6s; }

.myscroll {
    scrollbar-color: rgb(120 153 197) rgb(236, 239, 243);
    scrollbar-width: thin;
}

